pastelaria/vendor/
pastelaria/node_modules/
pastelaria/npm-debug.log
pastelaria/yarn-error.log

pastelaria/storage/*.key
pastelaria/.env
pastelaria/Homestead.yaml
pastelaria/Homestead.json
pastelaria/.vagrant
pastelaria/.phpunit.result.cache
