pastelaria/.phpunit.cache
pastelaria/node_modules
pastelaria/public/build
pastelaria/public/hot
pastelaria/public/storage
pastelaria/storage/*.key
pastelaria/vendor
pastelaria/.env
pastelaria/.env.backup
pastelaria/.env.production
pastelaria/.phpunit.result.cache
pastelaria/Homestead.json
pastelaria/Homestead.yaml
pastelaria/auth.json
pastelaria/npm-debug.log
pastelaria/yarn-error.log
pastelaria/.fleet
pastelaria/.idea
pastelaria/.vscode
